{
  "htmlWhitespaceSensitivity": "ignore",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "liquidSingleQuote": true,
  "embeddedSingleQuote": true
}
