<div
  class='utility-page-wrap h-[60vh] w-full flex items-center justify-center flex-col px-5'
  style=''
>
  <div class='text-dark-green md:text-3xl text-center text-xl font-body mb-2'>
    404
  </div>
  <h2
    class='text-dark-green md:text-6xl text-center text-3xl font-heading mb-5'
  >
    Something’s not right.
  </h2>
  <p class='text-dark-green md:text-4xl text-center text-2xl font-body mb-5'>
    We can’t find the page you are looking for.
  </p>
  <a
    href='/'
    class='text-dark-green md:text-3xl text-center text-xl font-body underline'
  >
    Back to homepage
  </a>
</div>