<div class="section about-us-banner wf-section">
    <div class="base-container w-container">
      <div data-w-id="el_scroll_into_view" style="opacity:0" class="banner-slider-container">
        <h1 class="heading-banner">About <span class="heading-text-span">Us</span></h1>
      </div>
    </div>
  </div>
  <div class="section none-padding wf-section">
    <div class="base-container w-container">
      <div class="cart-block margin">
        <div data-w-id="el_scroll_into_view" style="opacity:0" class="cart-01">
          <div class="content-cart">
            <div class="text-number">10+</div>
            <h3 class="heading-cart-content">Years on the market</h3>
          </div>
        </div>
        <div data-w-id="el_scroll_into_view" style="opacity:0" class="cart-02">
          <div class="content-cart">
            <div class="text-number">250+</div>
            <h3 class="heading-cart-content">Species of <br>trees</h3>
          </div>
        </div>
        <div data-w-id="el_scroll_into_view" style="opacity:0" class="cart-03">
          <div class="content-cart">
            <div class="text-number">1500+</div>
            <h3 class="heading-cart-content">Satisfied customers</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section wf-section">
    <div class="base-container w-container">
      <div class="section-title-wrapper">
        <h2 id="provide-assistance" data-w-id="el_scroll_into_view" style="opacity:0" class="heading-span margin-bottom-heading">We Are the Name of the Game When It Comes to <span class="heading-text-span color-green">Tree Removal and Tree Trimming Services</span></h2>
        <div data-w-id="el_scroll_into_view" style="opacity:0" class="paragraph-large max-w">We&#x27;re dedicated to providing tree trimming and tree removal services throughout South Florida with a team of licensed and insured professionals who possess exceptional work ethics and personable traits. We specialize in taking down challenging trees, whether its executing emergency tree removals swiftly or cutting trees that interfere with power lines, among other services, all while ensuring high-quality results.<br><br>We are based in Hollywood and are dedicated to providing you with the finest tree care services in South Florida, including Hollywood, Davie, Sunrise, Southwest Ranches, and Plantation.</div>
        <a data-w-id="el_scroll_into_view" style="opacity:0" href="tel:{{ site.phone_number }}" class="primary-button margin-top-50px w-button">Give Us A Call</a>
      </div>
    </div>
  </div>
  <div class="section none-top-padding wf-section">
    <div class="base-container w-container">
      <div data-w-id="el_scroll_into_view" style="opacity:0" class="cart-block none-padding">
        <div class="cart-01 white-background">
          <div class="image-cart-block"><img src="/images/cart-01.jpg" loading="lazy" alt="tree trimming" class="cart-image-content"></div>
          <div class="cart-description">
            <h3 class="heading-cart-content none-top-margin">Tree Trimming</h3>
            <div class="text-content-cart">Whether you&#x27;re looking to remove an acre of trees, or just a small one; we&#x27;ve got you covered.</div>
            <a href="/services/tree-trimming" class="link-underline">View Our Services</a>
          </div>
        </div>
        <div class="cart-02 white-background">
          <div class="image-cart-block"><img src="/images/cart-02_1cart 02.jpg" loading="lazy" alt="tree removal" class="cart-image-content position"></div>
          <div class="cart-description">
            <h3 class="heading-cart-content none-top-margin">Tree Removal</h3>
            <div class="text-content-cart">We clean and cut trees both large and small. Let us take care of your yard, you won’t regret it.</div>
            <a href="/services/tree-removal" class="link-underline">View Our Services</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section green-background wf-section">
    <div class="base-container w-container">
      <div data-w-id="el_scroll_into_view" style="opacity:0" class="free-trial-wrapper">
        <div class="subtitle-free-trial">Your trees need a bit of love?</div>
        <h2 class="heading-free-trial">Contact Us Now!</h2>
        <a href="tel:{{ site.phone_number }}" class="secondary-button">Click to Call Now</a>
      </div>
    </div>
  </div>
  <div class="section wf-section">
    <div class="base-container w-container">
      <div data-w-id="el_scroll_into_view" style="opacity:0" class="heading-block">
        <h2>Our Blog</h2>
      </div>
      <div data-w-id="el_scroll_into_view" style="opacity:0" class="home-blog-wrapper margin">
        <div class="home-blog-collection-list-wrapper w-dyn-list">
          <div role="list" class="home-blog-collection-list w-dyn-items">
            <div role="listitem" class="home-blog-collection-item w-dyn-item">
              <a href="#" class="home-blog-image-link w-inline-block"><img src="" loading="lazy" alt="tree services" class="home-blog-image"></a>
              <div class="home-blog-content-wrapper">
                <div class="data-categories-blog-post">
                  <div></div>
                  <div class="text-in">in</div>
                  <a href="#" class="categories-link"></a>
                </div>
                <a href="#" class="link-block-heading w-inline-block">
                  <h4 class="blog-post-title"></h4>
                </a>
                <p class="paragraph-large"></p>
              </div>
            </div>
          </div>
          <div class="w-dyn-empty">
            <div>No items found.</div>
          </div>
        </div>
      </div>
    </div>
  </div>