<div
  class='bg-light-cream md:py-16 py-10 md:px-16 px-3 w-full max-w-[{{theme.page_width}}px] mx-auto'
>
  <div class='flex md:flex-row flex-col'>
    <div class='md:w-4/6 w-full md:pr-10 md:mb-0 mb-8'>
      <h3
        class='text-dark-green font-body md:text-5xl text-2xl font-bold md:mb-10 mb-5'
      >
        About Us
      </h3>
      <p class='text-dark-green font-body md:text-2xl text-lg'>
        Most treatment centers detox you and teach you some positive coping
        skills for you to put into practice as soon as you leave the facility,
        regretfully a large percentage of clients relapse within the first 3
        months because the underlying issue that is causing you to use
        substances, or feel depressed or anxious was not fully resolved. Most of
        these issues are rooted in trauma.
        <br />
        <br />
        Amel Therapy Center treats the underlying issues of our clients beyond a
        diagnosis with an innovative mental health recovery center, focused in a
        scientific holistic and trauma approach to help you in your journey of
        healing and freedom.
      </p>
    </div>
    <img
      src='/images/about-img-1.jpg'
      alt='Front of Amel Therapy Center location'
      class='md:w-2/6 w-full h-auto'
      width='auto'
      height='auto'
      loading='eager'
    />
  </div>
</div>

<div
  class='bg-cover bg-no-repeat bg-center md:py-16 py-10 md:px-16 md:pr-20 px-3 w-full mx-auto'
  style="background-image: url('/backgrounds/tile-stars.jpg')"
>
  <div
    class='flex md:flex-row flex-col w-full max-w-[{{theme.page_width}}px] mx-auto'
  >
    <div class='md:w-3/5 w-full md:pr-10 md:mb-0 mb-8'>
      <h3
        class='max-w-lg text-dark-green font-body md:text-3xl text-xl font-bold md:mb-12 mb-5'
      >
        We will teach you how to incorporate sobriety into your daily life.
      </h3>
      <p class='text-dark-green font-body md:text-2xl text-xl font-bold'>
        Our facility uses a holistic approach that means support that looks at
        the whole person, not just their mental health needs. The support should
        also consider their physical, emotional, social and spiritual wellbeing.
        We are the first Therapy center that is fully Bi Lingual
        (Spanish/English).
      </p>
    </div>

    <div class='md:w-2/5 w-full bg-white py-3 px-6 pl-10'>
      <ul class='list-disc font-body text-lg text-dark-green'>
        <li class='my-3'>
          We prioritize 1-On-1 therapy sessions from our experts in Trauma and
          Addictions.
        </li>
        <li class='my-3'>
          We ensure a Holistic approach with compassion and privacy.
        </li>
        <li class='my-3'>
          We offer program lengths of 30 to 120 days for both men and women.
          Including an individual maintenance program to keep you accountable in
          your journey of healing and wellness.
        </li>
      </ul>
    </div>
  </div>
</div>

<div
  class='bg-cover bg-no-repeat bg-center w-full mx-auto relative'
  style="background-image: url('/images/about-img-2.jpg')"
>
  <div
    class='absolute w-full h-full z-10'
    style='background: rgba(55, 85, 96, 0.48);'
  ></div>
  <div
    class='flex md:flex-row flex-col md:items-start items-center z-20 relative md:py-16 py-10 md:px-16 md:pr-20 px-3 w-full max-w-[{{theme.page_width}}px] mx-auto'
  >
    <div class='md:w-3/5 w-full md:pr-10'>
      <h3
        class='italic text-center md:mx-0 mx-auto max-w-lg text-white font-body md:text-3xl text-xl font-[600] md:mb-12 mb-5'
      >
        At Amel, you will experience life to the maximum without limits.
        <br />
        <br class='md:block hidden' />
        A safe place to find and be yourself.
      </h3>
    </div>

    <div class='md:w-2/5 w-full flex flex-col items-center'>
      <h3
        class='text-center max-w-lg text-white font-body md:text-3xl text-xl font-[600] md:mb-12 mb-5'
      >
        Want to learn more about how you can register at Amel Therapy?
      </h3>
      <a
        href='/contact'
        class='transition-all duration-200 bg-white hover:bg-dark-green rounded-[60px] text-dark-green hover:text-white font-body md:text-2xl text-xl font-bold px-10 py-3 mx-auto text-center'
      >
        Contact Us
      </a>
    </div>
  </div>
</div>