<div class="section-heading all-services-banner wf-section">
  <div class="base-container w-container">
    <div data-w-id="el_scroll_into_view" style="opacity:0" class="banner-slider-container none-padding-bottom">
      <h1 class="heading-section-banner">Our <span class="heading-text-span">Services</span></h1>
    </div>
  </div>
</div>
<div class="section none-padding wf-section">
  <div class="base-container w-container">
    <div class="home-features-wrapper home-2">
      <div data-w-id="el_scroll_into_view" style="opacity:0" class="home-features-wrap-home-2">
        <div class="image-home-cart"><img src="/images/benefits-1.png" loading="lazy" width="100" alt="tree removal" class="home-features-image"></div>
        <div class="description-cart">
          <h3 class="heading-cart white-color">Tree Removal</h3>
          <p class="paragraph-large home-2">Whether you&#x27;re looking to remove an acre of trees, or just a small one; we&#x27;ve got you covered.</p>
          <a href="/services/tree-removal" class="button-arrow w-button"></a>
        </div>
      </div>
      <div data-w-id="el_scroll_into_view" style="opacity:0" class="home-features-wrap-home-2">
        <div class="image-home-cart"><img src="/images/benefits-2.png" loading="lazy" alt="tree trimming" class="home-features-image"></div>
        <div class="description-cart">
          <h3 class="heading-cart white-color">Tree Trimming</h3>
          <p class="paragraph-large home-2">We clean and cut trees both large and small. Let us take care of your yard, you won’t regret it.</p>
          <a href="/services/tree-trimming" class="button-arrow w-button"></a>
        </div>
      </div>
      <div data-w-id="el_scroll_into_view" style="opacity:0" class="home-features-wrap-home-2">
        <div class="image-home-cart"><img src="/images/benefits-3.png" loading="lazy" alt="tree services costs" class="home-features-image"></div>
        <div class="description-cart">
          <h3 class="heading-cart white-color">Cost Calculator</h3>
          <p class="paragraph-large home-2">Use our cost calculator to get a rough estimate of a solution that matches both your needs and your budget.</p>
          <a href="/cost-calculator" class="button-arrow w-button"></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section padding-large wf-section">
  <div class="base-container w-container">
    <div class="section-title-wrapper">
      <h2 id="provide-assistance" data-w-id="el_scroll_into_view" style="opacity:0" class="heading-span margin-bottom-heading">A Tree Service Company <span class="heading-text-span color-green">You Can Trust</span></h2>
      <div data-w-id="el_scroll_into_view" style="opacity:0" class="paragraph-large max-w">We offer tree removal &amp; trimming services in Hollywood, Davie, Sunrise, Southwest Ranches, and Plantation. We are all licensed &amp; insured with a great personable crew that has an unmatched work ethic. We provide will be high quality tree service whether it&#x27;s taking down difficult 100 ft trees, emergency tree removal at rapid pace, tree cutting over power lines, and much more.</div>
    </div>
  </div>
</div>
<div class="section none-padding wf-section">
  <div data-w-id="el_scroll_into_view" style="opacity:0" class="large-container display-flex w-container">
    <div class="background-slider"></div>
    <div class="slider-block-content">
      <div data-delay="4000" data-animation="slide" class="slider-block w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="4" data-duration="500" data-infinite="true">
        <div class="mask-slider w-slider-mask">
          <div data-w-id="el_scroll_into_view" class="slide-01 w-slide">
            <div class="slide-content-wrapper">
              <div class="image-slider"><img src="/images/look-up-look-down-photography--o7ASOHDV9E-unsplash-1.jpg" loading="lazy" width="532" sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, (max-width: 991px) 97vw, (max-width: 1279px) 37vw, 438.9765625px" srcset="/images/look-up-look-down-photography--o7ASOHDV9E-unsplash-1-p-500.jpg 500w, /images/look-up-look-down-photography--o7ASOHDV9E-unsplash-1-p-800.jpg 800w, /images/look-up-look-down-photography--o7ASOHDV9E-unsplash-1.jpg 900w" alt="tree services" class="image-absolute"></div>
              <div class="slide-content-block">
                <h2 class="heading-slide">&quot;Save yourself time, money and worry. They&#x27;ve got your back!&quot;</h2>
                <div class="testimonial-customer"><strong>Mary Becker</strong> - Valued customer</div>
                <a href="tel:954-408-2313" class="link-underline white-color">Call Now</a>
              </div>
            </div>
          </div>
          <div data-w-id="el_scroll_into_view" class="slide-02 w-slide">
            <div class="slide-content-wrapper">
              <div class="image-slider"><img src="/images/dakota-lim-n_2DimPwbEk-unsplash-1.jpg" loading="lazy" width="532" sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, (max-width: 991px) 97vw, (max-width: 1279px) 37vw, 438.9765625px" srcset="/images/dakota-lim-n_2DimPwbEk-unsplash-1-p-500.jpg 500w, /images/dakota-lim-n_2DimPwbEk-unsplash-1-p-800.jpg 800w, /images/dakota-lim-n_2DimPwbEk-unsplash-1.jpg 900w" alt="tree services" class="image-absolute"></div>
              <div class="slide-content-block">
                <h2 class="heading-slide">&quot;They&#x27;re hard-working honest professionals.&quot;</h2>
                <div class="testimonial-customer"><strong>Tom Triffer</strong> - Valued customer</div>
                <a href="tel:954-408-2313" class="link-underline white-color">Call Now</a>
              </div>
            </div>
          </div>
          <div data-w-id="el_scroll_into_view" class="slide-03 w-slide">
            <div class="slide-content-wrapper">
              <div class="image-slider"><img src="/images/shaun-montero-ZxDX8D9HHNM-unsplash-1.jpg" loading="lazy" width="532" sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, (max-width: 991px) 97vw, (max-width: 1279px) 37vw, 438.9765625px" srcset="/images/shaun-montero-ZxDX8D9HHNM-unsplash-1-p-500.jpg 500w, /images/shaun-montero-ZxDX8D9HHNM-unsplash-1-p-800.jpg 800w, /images/shaun-montero-ZxDX8D9HHNM-unsplash-1.jpg 900w" alt="tree services" class="image-absolute"></div>
              <div class="slide-content-block">
                <h2 class="heading-slide">&quot;Great and friendly service at a very good price.&quot;</h2>
                <div class="testimonial-customer"><strong>Julia Rowler</strong> - Valued customer</div>
                <a href="tel:954-408-2313" class="link-underline white-color">Call Now</a>
              </div>
            </div>
          </div>
        </div>
        <div class="banner-left-arrow w-slider-arrow-left">
          <div class="left-arrow-slider"></div>
        </div>
        <div class="banner-right-arrow w-slider-arrow-right">
          <div class="right-arrow-slider"></div>
        </div>
        <div class="slider-nav-active-wrapper slider-garden">
          <div class="slider-nav-active-item slider-home"></div>
        </div>
        <div class="slide-nav-block w-slider-nav w-round"></div>
      </div>
    </div>
  </div>
</div>
<div class="section wf-section">
  <div class="base-container w-container">
    <div data-w-id="el_scroll_into_view" class="free-trial-wrapper">
      <h2 id="provide-assistance" class="heading-span margin-bottom">Your Trees Need a Bit of Love? <span class="heading-text-span color-green">We can help!</span></h2>
      <a href="tel:954-408-2313" class="primary-button">Click to call now</a>
    </div>
  </div>
</div>
  