<div
  class='bg-cover bg-no-repeat bg-center md:py-16 py-10 mt-10 md:px-16 md:pr-20 px-5 w-full mx-auto'
  style="background-image: url('/backgrounds/tile-stars-dark.jpg')"
>
  <div
    class='relative w-full max-w-[{{theme.page_width}}px] mx-auto md:h-auto h-[400px]'
  >
    <img
      src='/backgrounds/floral-frame.png'
      alt='Floral frame'
      class='lg:w-3/5 h-auto w-full'
      width='auto'
      height='auto'
      loading='lazy'
    />
    <div
      class='absolute right-0 lg:left-auto left-0 md:bottom-[-25px] bottom-0 bg-white lg:pt-10 lg:pb-20 py-5 lg:px-12 px-5 lg:max-w-[800px] w-[90%] mx-auto'
    >
      <h1
        class='text-dark-green font-body xl:text-6xl lg:text-4xl text-3xl font-bold mb-6'
      >
        Levels of Care
      </h1>
      <p
        class='text-dark-green font-body xl:text-2xl text-xl font-bold lg:pl-20 md:pl-10 p-0'
      >
        Our facility offers care through two different forms, Partial
        Hospitalization Program (PHP), and Intensive Outpatient Program (IOP).
        Both structures offer value to the client with different forms of
        treatment.
      </p>
    </div>
  </div>
</div>

<div
  class='bg-light-cream md:py-16 py-10 md:px-16 px-5 w-full max-w-[{{theme.page_width}}px] mx-auto'
>
  <div class='w-full mb-8'>
    <h3
      class='text-dark-green font-body md:text-3xl text-xl font-bold md:mb-10 mb-5'
    >
      What is PHP & IOP?
    </h3>
    <p class='text-dark-green font-body md:text-2xl text-lg'>
      Partial Hospitalization Program is a great substitute from inpatient care.
      <br />
      Clients at this level of care receive intensive treatment, 5 hours a day,
      but they don’t need round the clock medical supervision. During PHP,
      clients will participate in a structured schedule of treatment activities,
      including individual therapy, group therapy, and other evidence-based
      treatments. These activities are designed to address the underlying causes
      of addiction and to provide clients with the skills and strategies needed
      to maintain long-term sobriety.
      <br />
      If family or significant other has not been involvement in the client’s
      treatment, this is the perfect time to include them for two very important
      reasons. Support and resolving any issues that can be roadblocks on
      maintaining a harmonious reinsertion of the patient into his/her
      environment.
      <br />
      <br />
      Intensive Outpatient Program functions as nine clinical hours of treatment
      per week. The hours are split into two groups, the first one is during the
      morning 9:00 AM and the second one begins after work and school at 5:00
      PM. Our therapists address addiction education, relapse prevention, and
      emotional recovery. They help the patient by working through underlying
      causes of addiction including grief, anxiety, trauma, and depression. This
      kind of treatment helps clients learn tools for coping with triggers and
      cravings. This structure also offers family therapy.
    </p>
  </div>
</div>

<div
  class='relative md:px-16 px-3 pb-16 w-full max-w-[{{theme.page_width}}px] mx-auto'
>
  <div
    class='md:w-[500px] md:h-[500px] w-[300px] h-[300px] rounded-full bg-cover bg-no-repeat bg-center md:mx-0 mx-auto'
    style="background-image: url('/images/care-img-1.png')"
  ></div>
  <div
    class='absolute text-dark-green font-body md:text-3xl text-xl font-bold bg-dark-cream rounded-2xl md:py-7 py-5 md:px-28 px-16 lg:left-[450px] md:left-[250px] text-center md:mx-0 mx-auto left-0 md:right-auto right-0 md:w-auto w-4/5 md:bottom-[150px] bottom-[50px]'
  >
    Define TX Goals
  </div>
</div>

<div
  class='pt-5 md:px-10 px-5 md:pb-14 pb-10 w-full max-w-[{{theme.page_width}}px] mx-auto'
>
  <h3
    class='text-dark-green font-body md:text-4xl text-xl font-bold md:mb-16 mb-6 md:text-center text-left'
  >
    Evidence-Based Models
  </h3>
  <p
    class='text-dark-green font-body md:text-2xl md:text-center text-left text-xl mx-auto font-medium max-w-[1050px] md:mb-10 mb-5'
  >
    Through our different forms of therapy, we strive to empower you with the
    necessary tools and coping strategies to regain control of your life.
    Learning to form healthy relationships through mutual levels of trust,
    creation of boundaries, and emotional safety techniques, will create a solid
    foundation of hope for your new life.
    <br />
    In addition to individual therapy and family therapy, we offer group
    sessions that provide a supportive community environment where you can
    connect with others who share similar experiences
  </p>

  <div
    class='flex md:flex-row flex-col flex-wrap md:justify-center justify-start items-start'
  >
    <div class='md:max-w-[400px] md:my-10 my-5 md:mx-5 mx-0'>
      <h4
        class='text-dark-green md:text-center font-body md:text-3xl text-xl font-bold mb-3'
      >
        1 on 1 Therapy
      </h4>
      <p
        class='text-dark-green md:text-center font-body md:text-xl text-xl font-[500]'
      >
        Individual therapy can help gain insight where your trauma meets
        addiction. It will teach you useful learning tools for emotional
        resilience and positive behavioral changes.
      </p>
    </div>

    <div class='md:max-w-[400px] md:my-10 my-5 md:mx-5 mx-0'>
      <h4
        class='text-dark-green md:text-center font-body md:text-3xl text-xl font-bold mb-3'
      >
        Group Therapy
      </h4>
      <p
        class='text-dark-green md:text-center font-body md:text-xl text-xl font-[500]'
      >
        By creating connections in your sober living community, you will find
        healthy relationships and a strong support system to lean on.
      </p>
    </div>

    <div class='md:max-w-[400px] md:my-10 my-5 md:mx-5 mx-0'>
      <h4
        class='text-dark-green md:text-center font-body md:text-3xl text-xl font-bold mb-3'
      >
        Family Therapy
      </h4>
      <p
        class='text-dark-green md:text-center font-body md:text-xl text-xl font-[500]'
      >
        Family therapy aims to improve communication, resolve conflicts, and
        enhance understanding, leading to a more supportive and sustainable
        sober living environment.
      </p>
    </div>
  </div>
</div>