<div class="section-heading banner-blog-grid wf-section">
    <div class="base-container w-container">
      <div data-w-id="el_scroll_into_view" style="opacity:0" class="banner-slider-container none-padding-bottom">
        <h1 class="heading-section-banner">Frequently asked <span class="heading-text-span">questions</span></h1>
      </div>
    </div>
</div>
<div class="section">
    <div class="base-container w-container">
      <div data-w-id="el_scroll_into_view" style="opacity:0" class="section-title-wrapper margin-bottom">
        <h2 class="section-title">Customers <span class="heading-text-span color-green">frequently ask</span></h2>
      </div>
      <div data-w-id="el_scroll_into_view" class="accordion-wrapper">
        <div class="accordion-wrap">
          <div data-hover="false" data-delay="0" data-w-id="el_toggle_dropdown" class="accordion-item w-dropdown">
            <div class="accordion-toggle w-dropdown-toggle">
              <h6 class="accordion-title">Does trimming hurt trees?</h6>
              <div class="accordion-shevron-icon"></div>
            </div>
            <nav class="accordion-list w-dropdown-list">
              <p class="accordion-list-content">We are properly trained professionals who utilize pruning techniques that will not compromise the health of trees.</p>
            </nav>
          </div>
          <div data-hover="false" data-delay="0" data-w-id="el_toggle_dropdown" class="accordion-item w-dropdown">
            <div class="accordion-toggle w-dropdown-toggle">
              <h6 class="accordion-title">Can I remove my own trees?</h6>
              <div class="accordion-shevron-icon"></div>
            </div>
            <nav class="accordion-list w-dropdown-list">
              <p class="accordion-list-content">With large trees, there&#x27;s a high risk for the homeowner, or property manager to be injured while trying to remove the tree.</p>
            </nav>
          </div>
          <div data-hover="false" data-delay="0" data-w-id="el_toggle_dropdown" class="accordion-item w-dropdown">
            <div class="accordion-toggle w-dropdown-toggle">
              <h6 class="accordion-title">What are some reasons I should prune my tree?</h6>
              <div class="accordion-shevron-icon"></div>
            </div>
            <nav class="accordion-list w-dropdown-list">
              <p class="accordion-list-content">Trees should be pruned for removal of dead, dying, diseased, over crowded or hazardous branches.</p>
            </nav>
          </div>
          <div data-hover="false" data-delay="0" data-w-id="el_toggle_dropdown" class="accordion-item w-dropdown">
            <div class="accordion-toggle w-dropdown-toggle">
              <h6 class="accordion-title">What are the costs of tree trimming?</h6>
              <div class="accordion-shevron-icon"></div>
            </div>
            <nav class="accordion-list w-dropdown-list">
              <p class="accordion-list-content">
                There are <a href="https://www.browardtreetechs.com/blog/what-are-the-factors-that-affect-tree-trimming-costs-in-florida">multiple factors</a> that go into the cost of tree trimming such as
                tree size, tree location, tree health, time of year, job complexity, and the company themself.
              </p>
            </nav>
          </div>
        </div>
        <div class="accordion-wrap last-child">
          <div data-hover="false" data-delay="0" data-w-id="el_toggle_dropdown" class="accordion-item w-dropdown">
            <div class="accordion-toggle w-dropdown-toggle">
              <h6 class="accordion-title">When should I trim my trees?</h6>
              <div class="accordion-shevron-icon"></div>
            </div>
            <nav class="accordion-list w-dropdown-list">
              <p class="accordion-list-content">Hazardous limbs or deadwood may be removed at any time throughout the year. A seasonal approach would be around October or November after the leaves have dropped off the trees.</p>
            </nav>
          </div>
          <div data-hover="false" data-delay="0" data-w-id="el_toggle_dropdown" class="accordion-item w-dropdown">
            <div class="accordion-toggle w-dropdown-toggle">
              <h6 class="accordion-title">Should I trim my trees before a storm?</h6>
              <div class="accordion-shevron-icon"></div>
            </div>
            <nav class="accordion-list w-dropdown-list">
              <p class="accordion-list-content">Having your trees trimmed before hurricane season will ensure that you are reducing your exposure to liability in the event of a storm.</p>
            </nav>
          </div>
          <div data-hover="false" data-delay="0" data-w-id="el_toggle_dropdown" class="accordion-item w-dropdown">
            <div class="accordion-toggle w-dropdown-toggle">
              <h6 class="accordion-title">What services do you offer?</h6>
              <div class="accordion-shevron-icon"></div>
            </div>
            <nav class="accordion-list w-dropdown-list">
              <p class="accordion-list-content">
                We offer best in class service for
                <a href="https://www.browardtreetechs.com/services/tree-service">Tree Service</a>, 
                <a href="https://www.browardtreetechs.com/services/tree-removal">Tree Removal</a>, 
                <a href="https://www.browardtreetechs.com/services/tree-trimming">Tree Trimming</a>, 
                <a href="https://www.browardtreetechs.com/services/tree-pruning">Tree Pruning</a>, 
                <a href="https://www.browardtreetechs.com/services/stump-removal">Stump Removal</a>, 
                <a href="https://www.browardtreetechs.com/services/stump-grinding">Stump Grinding</a>.
              </p>
            </nav>
          </div>
          <div data-hover="false" data-delay="0" data-w-id="el_toggle_dropdown" class="accordion-item w-dropdown">
            <div class="accordion-toggle w-dropdown-toggle">
              <h6 class="accordion-title">What are the areas in South Florida you service?</h6>
              <div class="accordion-shevron-icon"></div>
            </div>
            <nav class="accordion-list w-dropdown-list">
              <p class="accordion-list-content">
                We&#x27;re committed to giving you best tree care in <a href="https://www.browardtreetechs.com/pages/broward-county-tree-service">Broward County</a>: 
                <a href="https://www.browardtreetechs.com/pages/hollywood-tree-service">Hollywood</a>, 
                <a href="https://www.browardtreetechs.com/pages/davie-tree-service">Davie</a>, 
                <a href="https://www.browardtreetechs.com/pages/sunrise-tree-service">Sunrise</a>, 
                <a href="https://www.browardtreetechs.com/pages/southwest-ranches-tree-service">Southwest Ranches</a>, and 
                <a href="https://www.browardtreetechs.com/pages/plantation-tree-service">Plantation</a>.
              </p>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section wf-section">
    <div class="base-container w-container">
      <div data-w-id="el_scroll_into_view" class="free-trial-wrapper">
        <h2 id="provide-assistance" class="heading-span margin-bottom">Your Trees Need a Bit of Love? <span class="heading-text-span color-green">We can help!</span></h2>
        <a href="tel:{{ site.phone_number }}" class="primary-button">Click to call now</a>
      </div>
    </div>
  </div>