<section class="home-banner__section">
    <div class="base-container align-left">
        <div class="home-banner__wrapper">
            <div class="home-banner__content animated fadeInUp">
                <div class="flex items-center">
                    <div class="home-banner__eyebrow-dot"></div>
                    <div class="home-banner__eyebrow-caption">Licensed and Insured</div>
                </div>

                <h1 class="home-banner__heading">The Best Tree Services In South Florida.</h1>
                <p class="home-banner__paragraph">
                    We can help you with all of your tree service needs. We have years of expertise and affordable prices to better serve your family or business.
                </p>
                <div class="home-banner__cta-buttons">
                    <a href="tel:954-408-2313" class="button button-primary">Click To Call Now</a>
                    <a href="/services" class="button button-border">Our Services</a>
                </div>

                <div class="home-banner__counter">
                    <div>
                        <div class="home-banner__counter-number">10+</div>
                        <div class="home-banner__counter-text">years on the market</div>
                    </div>
                    <div>
                        <div class="home-banner__counter-number">250+</div>
                        <div class="home-banner__counter-text">species of trees</div>
                    </div>
                    <div>
                        <div class="home-banner__counter-number">1500+</div>
                        <div class="home-banner__counter-text">satisfied customers</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>