<div class="home-banner-section-home-2">
    <div class="base-container align-left w-container">
      <div class="banner-block-home-2">
        <div class="banner-content-home-2">
          <div class="div-block-2">
            <div data-w-id="534d8332-6492-18d8-654f-37499c35e536" style="opacity:0" class="circle-home-2"></div>
            <div data-w-id="50cb5dd6-a5ec-0a89-565d-49cf814974c5" style="opacity:0" class="heading-caption">Licensed and Insured</div>
          </div>
          <h1 data-w-id="9de768a5-3c5e-8305-831b-624106bccaba" style="opacity:0" class="heading-banner-home-2">The Best Tree Services In South Florida.</h1>
          <div data-w-id="d91d1e5e-8660-051d-b28b-50f6bc0a069e" style="opacity:0" class="paragraph-banner">We can help you with all of your tree service needs. We have years of expertise and affordable prices to better serve your family or business.<br></div>
          <div data-w-id="58a307bc-88c6-468b-aa22-43e072d9e496" style="opacity:0" class="button-block-banner-home-2">
            <a href="tel:{{ site.phone_number }}" class="primary-button w-button">Click To Call Now</a>
            <a href="all-services.html" class="border-button w-button">Our Services</a>
          </div>
          <div data-w-id="c7ff340f-0231-0ee5-0200-26bb9ad44c9a" style="opacity:0" class="counter-banner-block">
            <div class="counter-block-content">
              <div class="number-counter size">10+</div>
              <div class="text-counter">years on the market</div>
            </div>
            <div class="counter-block-content">
              <div class="number-counter size">250+</div>
              <div class="text-counter">species of trees</div>
            </div>
            <div class="counter-block-content">
              <div class="number-counter size">1500+</div>
              <div class="text-counter">satisfied customers</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section none-padding">
    <div class="base-container w-container">
      <div class="home-features-wrapper home-2">
        <div data-w-id="af7ee890-6058-67c7-8c28-414eaf57aaf0" style="opacity:0" class="home-features-wrap-home-2">
          <div class="image-home-cart"><img src="/images/benefits-1.png" loading="lazy" width="64" height="64" alt="benefits icon one" class="home-features-image"></div>
          <div class="description-cart">
            <h3 class="heading-cart white-color">Tree Removal</h3>
            <p class="paragraph-large home-2">Whether you&#x27;re looking to remove an acre of trees, or just a small one; we&#x27;ve got you covered.</p>
            <a href="https://www.browardtreetechs.com/services/tree-removal" class="button-arrow w-button"></a>
          </div>
        </div>
        <div data-w-id="2e0b735e-4f62-0108-8322-4c40fad83497" style="opacity:0" class="home-features-wrap-home-2">
          <div class="image-home-cart"><img src="/images/benefits-2.png" loading="lazy" width="64" height="64" alt="benefits icon two" class="home-features-image"></div>
          <div class="description-cart">
            <h3 class="heading-cart white-color">Tree Trimming</h3>
            <p class="paragraph-large home-2">We clean and cut trees both large and small. Let us take care of your yard, you won’t regret it.</p>
            <a href="https://www.browardtreetechs.com/services/tree-trimming" class="button-arrow w-button"></a>
          </div>
        </div>
        <div data-w-id="88b42fee-2988-d9f0-d1ac-993e0f9ea25b" style="opacity:0" class="home-features-wrap-home-2">
          <div class="image-home-cart"><img src="/images/benefits-3.png" loading="lazy" width="64" height="64" alt="benefits icon three" class="home-features-image"></div>
          <div class="description-cart">
            <h3 class="heading-cart white-color">Cost Calculator</h3>
            <p class="paragraph-large home-2">Use our cost calculator to get a rough estimate of a solution that matches both your needs and your budget.</p>
            <a href="cost-calculator.html" class="button-arrow w-button"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section no-bottom-padding">
    <div class="base-container w-container">
      <h3 class="heading-span margin-bottom-heading">Featured In</h3>
      <div data-w-id="099f8a81-0b1c-1bca-3653-baa0d65259af" style="opacity:0" class="w-layout-grid customers-grid">
        <div id="w-node-_099f8a81-0b1c-1bca-3653-baa0d65259b0-99ff38c2" class="customer-wrapper"><img src="/images/Clients-5.png" loading="lazy" height="" alt="Company Logo" class="customer-image">
          <div class="customer-title">Wave</div>
        </div>
        <div id="w-node-_099f8a81-0b1c-1bca-3653-baa0d65259b8-99ff38c2" class="customer-wrapper"><img src="/images/Clients-3.png" loading="lazy" alt="Company Logo" class="customer-image">
          <div class="customer-title">iconic</div>
        </div>
        <div id="w-node-_099f8a81-0b1c-1bca-3653-baa0d65259bc-99ff38c2" class="customer-wrapper"><img src="/images/Clients-4.png" loading="lazy" alt="Company Logo" class="customer-image">
          <div class="customer-title">21 star</div>
        </div>
        <div id="w-node-_099f8a81-0b1c-1bca-3653-baa0d65259c0-99ff38c2" class="customer-wrapper"><img src="/images/Clients-2.png" loading="lazy" alt="Company Logo" class="customer-image">
          <div class="customer-title">alisa</div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="base-container w-container">
      <div class="section-content">
        <div class="section-title-right">
          <h2 id="provide-assistance" data-w-id="6c9b6a8b-bd92-0888-0778-2781041d9386" style="opacity:0" class="heading-span margin-bottom-heading">Tree Removal and Trimming in Hollywood, Florida.</h2>
          <div data-w-id="15f77401-7b0d-fa78-4494-1831150d8ecb" style="opacity:0" class="paragraph-large">We offer tree removal &amp; trimming services in South Florida. We are all licensed &amp; insured with a great personable crew that has an unmatched work ethic. We provide will be high quality tree service whether it&#x27;s taking down difficult 100 ft trees, emergency tree removal at rapid pace, tree cutting over power lines, and much more. <br><br>We&#x27;re committed to giving you best tree care in South Florida: Hollywood, Davie, Sunrise, Southwest Ranches, and Plantation.</div>
          <a data-w-id="4cb676ee-4763-865e-e473-a3ccabcd2c98" style="opacity:0" href="tel:{{ site.phone_number }}" class="primary-button margin-top-50px w-button">Call Us Now</a><img src="/images/Arrow_05-1.png" loading="lazy" alt="" class="image-arrow-absolute">
        </div>
        <div data-w-id="04439720-a254-576c-0de4-b7603b85e630" style="opacity:0" class="section-image-left"><img src="/images/6434d4d60ef5844aaf110a02_63af742f8f22089e6de21e38_laron-rosser-Dn_KGNk2IoY-unsplash-p-2000.jpeg" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, (max-width: 991px) 97vw, (max-width: 1279px) 45vw, 550px" srcset="/images/6434d4d60ef5844aaf110a02_63af742f8f22089e6de21e38_laron-rosser-Dn_KGNk2IoY-unsplash-p-2000-p-500.jpeg 500w, /images/6434d4d60ef5844aaf110a02_63af742f8f22089e6de21e38_laron-rosser-Dn_KGNk2IoY-unsplash-p-2000-p-800.jpeg 800w, /images/6434d4d60ef5844aaf110a02_63af742f8f22089e6de21e38_laron-rosser-Dn_KGNk2IoY-unsplash-p-2000-p-1080.jpeg 1080w, /images/6434d4d60ef5844aaf110a02_63af742f8f22089e6de21e38_laron-rosser-Dn_KGNk2IoY-unsplash-p-2000-p-1600.jpeg 1600w, /images/6434d4d60ef5844aaf110a02_63af742f8f22089e6de21e38_laron-rosser-Dn_KGNk2IoY-unsplash-p-2000.jpeg 2000w" alt="" class="image-section-left">
          <div class="text-absolute">We Can Help You!</div>
        </div>
      </div>
    </div>
  </div>
  <div class="section none-padding">
    <div class="base-container w-container">
      <div data-w-id="47b46d02-b87d-7340-036a-bfae338193d6" style="opacity:0" class="w-layout-grid gallery-grid-home-2">
        <div id="w-node-_548a2c64-ce36-b9d3-6d0c-53468ebf00c7-99ff38c2" data-w-id="548a2c64-ce36-b9d3-6d0c-53468ebf00c7" class="image-callery">
          <a href="#" class="lightbox-link-gallery w-inline-block w-lightbox">
            <div style="opacity:0" class="image-hover"></div><img src="/images/depositphotos_7435655-stock-photo-house-tropical-palmtree.jpg" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, (max-width: 1279px) 97vw, 1170px" srcset="/images/depositphotos_7435655-stock-photo-house-tropical-palmtree-p-500.jpg 500w, /images/depositphotos_7435655-stock-photo-house-tropical-palmtree-p-800.jpg 800w, /images/depositphotos_7435655-stock-photo-house-tropical-palmtree-p-1080.jpg 1080w, /images/depositphotos_7435655-stock-photo-house-tropical-palmtree-p-1600.jpg 1600w, /images/depositphotos_7435655-stock-photo-house-tropical-palmtree-p-2000.jpg 2000w, /images/depositphotos_7435655-stock-photo-house-tropical-palmtree.jpg 2600w" alt="" class="image-lightbox">
            <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "example_img",
      "origFileName": "depositphotos_7435655-stock-photo-house-tropical-palmtree.jpg",
      "fileName": "depositphotos_7435655-stock-photo-house-tropical-palmtree.jpg",
      "fileSize": 529388,
      "height": 1785,
      "url": "/images/depositphotos_7435655-stock-photo-house-tropical-palmtree.jpg",
      "width": 2600,
      "type": "image"
    },
    {
      "_id": "example_img",
      "origFileName": "gallery home 03.jpg",
      "fileName": "gallery home 03.jpg",
      "fileSize": 75290,
      "height": 414,
      "url": "https://uploads-ssl.webflow.com/62e934c04f221831fa20f1d5/62ea3ef0ce7eb7afddb1a1c5_gallery%20home%2003.jpg",
      "width": 393,
      "type": "image"
    }
  ],
  "group": "Gallery Lightbox"
}</script>
          </a>
        </div>
        <div id="w-node-_650e015b-566b-dfc7-b10d-01bda2293120-99ff38c2" data-w-id="650e015b-566b-dfc7-b10d-01bda2293120" class="image-callery">
          <a href="#" class="lightbox-link-gallery w-inline-block w-lightbox">
            <div style="opacity:0" class="image-hover"></div><img src="/images/New-Style-Image.jpg" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, (max-width: 1279px) 97vw, 1170px" srcset="/images/New-Style-Image-p-500.jpg 500w, /images/New-Style-Image.jpg 900w" alt="" class="image-lightbox">
            <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "example_img",
      "origFileName": "New Style Image.jpg",
      "fileName": "New Style Image.jpg",
      "fileSize": 126422,
      "height": 650,
      "url": "/images/New-Style-Image.jpg",
      "width": 900,
      "type": "image"
    },
    {
      "_id": "example_img",
      "origFileName": "gallery home 04.jpg",
      "fileName": "gallery home 04.jpg",
      "fileSize": 79866,
      "height": 414,
      "url": "https://uploads-ssl.webflow.com/62e934c04f221831fa20f1d5/62ea3f878685a9304a828cc5_gallery%20home%2004.jpg",
      "width": 391,
      "type": "image"
    }
  ],
  "group": "Gallery Lightbox"
}</script>
          </a>
        </div>
        <div id="w-node-bc3a9eff-7b7b-d58d-5548-5a949e13156b-99ff38c2" data-w-id="bc3a9eff-7b7b-d58d-5548-5a949e13156b" class="image-callery _290-px-image">
          <a href="#" class="lightbox-link-gallery w-inline-block w-lightbox">
            <div style="opacity:0" class="image-hover"></div><img src="/images/depositphotos_368013096-stock-photo-worker-chainsaw-helmet-hanging-rope.jpg" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, (max-width: 1279px) 97vw, 1170px" srcset="/images/depositphotos_368013096-stock-photo-worker-chainsaw-helmet-hanging-rope-p-500.jpg 500w, /images/depositphotos_368013096-stock-photo-worker-chainsaw-helmet-hanging-rope.jpg 900w" alt="" class="image-lightbox">
            <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "example_img",
      "origFileName": "depositphotos_368013096-stock-photo-worker-chainsaw-helmet-hanging-rope.jpg",
      "fileName": "depositphotos_368013096-stock-photo-worker-chainsaw-helmet-hanging-rope.jpg",
      "fileSize": 62346,
      "height": 506,
      "url": "/images/depositphotos_368013096-stock-photo-worker-chainsaw-helmet-hanging-rope.jpg",
      "width": 900,
      "type": "image"
    },
    {
      "_id": "example_img",
      "origFileName": "gallery home 06.jpg",
      "fileName": "gallery home 06.jpg",
      "fileSize": 52080,
      "height": 414,
      "url": "https://uploads-ssl.webflow.com/62e934c04f221831fa20f1d5/62ea3fe5bee4950a57f1e16e_gallery%20home%2006.jpg",
      "width": 391,
      "type": "image"
    }
  ],
  "group": "Gallery Lightbox"
}</script>
          </a>
        </div>
        <div id="w-node-_7d8b79c2-c8fa-d270-0167-d4394ad3ff08-99ff38c2" data-w-id="7d8b79c2-c8fa-d270-0167-d4394ad3ff08" class="image-callery _01">
          <a href="#" class="lightbox-link-gallery w-inline-block w-lightbox">
            <div style="opacity:0" class="image-hover"></div><img src="/images/depositphotos_274172322-stock-photo-professional-on-the-tree.jpg" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, (max-width: 1279px) 97vw, 1170px" srcset="/images/depositphotos_274172322-stock-photo-professional-on-the-tree-p-500.jpg 500w, /images/depositphotos_274172322-stock-photo-professional-on-the-tree.jpg 900w" alt="" class="image-lightbox">
            <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "example_img",
      "origFileName": "depositphotos_274172322-stock-photo-professional-on-the-tree.jpg",
      "fileName": "depositphotos_274172322-stock-photo-professional-on-the-tree.jpg",
      "fileSize": 112767,
      "height": 600,
      "url": "/images/depositphotos_274172322-stock-photo-professional-on-the-tree.jpg",
      "width": 900,
      "type": "image"
    },
    {
      "_id": "example_img",
      "origFileName": "Main Banner home 1.jpg",
      "fileName": "Main Banner home 1.jpg",
      "fileSize": 159213,
      "height": 852,
      "url": "https://uploads-ssl.webflow.com/62e934c04f221831fa20f1d5/62f23ab3b96f9db9de6f3bac_Main%20Banner%20home%201.jpg",
      "width": 1279,
      "type": "image"
    }
  ],
  "group": "Gallery Lightbox"
}</script>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="base-container w-container">
      <div class="section-title-wrapper max-w-730px">
        <h2 id="provide-assistance" data-w-id="20858e8b-26ef-09b3-381c-16076b4d44ed" style="opacity:0" class="heading-span">The Best Tree Services Company In South Florida.</h2>
      </div>
      <div data-w-id="20858e8b-26ef-09b3-381c-16076b4d44f1" style="opacity:0" class="w-layout-grid grid-content home-2">
        <div id="w-node-_20858e8b-26ef-09b3-381c-16076b4d44f2-99ff38c2" class="content-block home-2">
          <div class="image-block-content margin">
            <div class="number-content-block">1</div>
          </div>
          <div class="title-subtitle-content">
            <h4 class="heading-grid-content">Quality Service</h4>
            <p class="paragraph">Our tree care and service is top notch! Give us a try.</p>
          </div>
        </div>
        <div id="w-node-_20858e8b-26ef-09b3-381c-16076b4d44fb-99ff38c2" class="content-block home-2">
          <div class="image-block-content margin">
            <div class="number-content-block">2</div>
          </div>
          <div class="title-subtitle-content">
            <h4 class="heading-grid-content">Licensed and Insured</h4>
            <p class="paragraph">We offer a business you can trust, giving you reassurance and ease of mind.</p>
          </div>
        </div>
        <div id="w-node-_20858e8b-26ef-09b3-381c-16076b4d4504-99ff38c2" class="content-block home-2">
          <div class="image-block-content margin">
            <div class="number-content-block">3</div>
          </div>
          <div class="title-subtitle-content">
            <h4 class="heading-grid-content">Satisfied Customers</h4>
            <p class="paragraph">We have  one of the best reputations in the tree services business.</p>
          </div>
        </div>
        <div id="w-node-_20858e8b-26ef-09b3-381c-16076b4d450d-99ff38c2" class="content-block home-2">
          <div class="image-block-content margin">
            <div class="number-content-block">4</div>
          </div>
          <div class="title-subtitle-content">
            <h4 class="heading-grid-content">Responsiveness</h4>
            <p class="paragraph">We attend your needs and follow up – always in a timely manner.</p>
          </div>
        </div>
        <div id="w-node-_20858e8b-26ef-09b3-381c-16076b4d4516-99ff38c2" class="content-block home-2">
          <div class="image-block-content margin">
            <div class="number-content-block">5</div>
          </div>
          <div class="title-subtitle-content">
            <h4 class="heading-grid-content">Trusted</h4>
            <p class="paragraph">A community pillar, we are a trusted name in the industry.</p>
          </div>
        </div>
        <div id="w-node-_20858e8b-26ef-09b3-381c-16076b4d451f-99ff38c2" class="content-block home-2">
          <div class="image-block-content margin">
            <div class="number-content-block">6</div>
          </div>
          <div class="title-subtitle-content">
            <h4 class="heading-grid-content">Experience</h4>
            <p class="paragraph">Countless years of experience gives us an understanding like no other.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section green-background">
    <div class="base-container w-container">
      <div data-w-id="9ceb224f-d7c9-f6be-d2a0-8183c16f6354" style="opacity:0" class="free-trial-wrapper">
        <div class="subtitle-free-trial">Your trees need a bit of love?</div>
        <h2 class="heading-free-trial">Contact Us Now!</h2>
        <a href="tel:{{ site.phone_number }}" class="secondary-button">Click to Call Now</a>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="large-container display-flex w-container">
      <div data-w-id="cbfba6e3-ef80-5574-1af1-1bd784259c20" style="opacity:0" class="slider-block-content none-padding">
        <div data-delay="4000" data-animation="slide" class="slider-block w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="4" data-duration="500" data-infinite="true">
          <div class="mask-slider w-slider-mask">
            <div data-w-id="cbfba6e3-ef80-5574-1af1-1bd784259c23" class="slide-02 w-slide">
              <div class="slide-content-wrapper home-2">
                <div class="image-slider none-margin"><img src="/images/look-up-look-down-photography--o7ASOHDV9E-unsplash-1.jpg" loading="lazy" width="532" sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, (max-width: 991px) 44vw, (max-width: 1279px) 35vw, 467.6953125px" srcset="/images/look-up-look-down-photography--o7ASOHDV9E-unsplash-1-p-500.jpg 500w, /images/look-up-look-down-photography--o7ASOHDV9E-unsplash-1-p-800.jpg 800w, /images/look-up-look-down-photography--o7ASOHDV9E-unsplash-1.jpg 900w" alt="" class="image-absolute"></div>
                <div class="slide-content-block">
                  <h2 class="heading-slide dark-text">&quot;Save yourself time, money and worry. They&#x27;ve got your back!&quot;</h2>
                  <p class="text-slide dark-text"><strong>Mary Becker</strong> - Valued customer</p>
                  <a href="all-services.html" class="primary-button w-button">View Our Services</a>
                </div>
              </div>
            </div>
            <div data-w-id="cbfba6e3-ef80-5574-1af1-1bd784259c30" class="slide-01 w-slide">
              <div class="slide-content-wrapper home-2">
                <div class="image-slider none-margin"><img src="/images/dakota-lim-n_2DimPwbEk-unsplash-1.jpg" loading="lazy" width="532" sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, (max-width: 991px) 44vw, (max-width: 1279px) 35vw, 467.6953125px" srcset="/images/dakota-lim-n_2DimPwbEk-unsplash-1-p-500.jpg 500w, /images/dakota-lim-n_2DimPwbEk-unsplash-1-p-800.jpg 800w, /images/dakota-lim-n_2DimPwbEk-unsplash-1.jpg 900w" alt="" class="image-absolute"></div>
                <div class="slide-content-block">
                  <h2 class="heading-slide dark-text">&quot;They&#x27;re hard-working honest professionals.&quot;</h2>
                  <p class="text-slide dark-text"><strong>Tom Triffer</strong> - Valued customer</p>
                  <a href="all-services.html" class="primary-button w-button">View Our Services</a>
                </div>
              </div>
            </div>
            <div data-w-id="cbfba6e3-ef80-5574-1af1-1bd784259c3d" class="slide-03 w-slide">
              <div class="slide-content-wrapper home-2">
                <div class="image-slider none-margin"><img src="/images/shaun-montero-ZxDX8D9HHNM-unsplash-1.jpg" loading="lazy" width="532" sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, (max-width: 991px) 44vw, (max-width: 1279px) 35vw, 467.6953125px" srcset="/images/shaun-montero-ZxDX8D9HHNM-unsplash-1-p-500.jpg 500w, /images/shaun-montero-ZxDX8D9HHNM-unsplash-1-p-800.jpg 800w, /images/shaun-montero-ZxDX8D9HHNM-unsplash-1.jpg 900w" alt="" class="image-absolute"></div>
                <div class="slide-content-block">
                  <h2 class="heading-slide dark-text">&quot;Great and friendly service at a very good price.&quot;</h2>
                  <p class="text-slide dark-text"><strong>Julia Rower </strong>- Valued customer</p>
                  <a href="all-services.html" class="primary-button w-button">View Our Services</a>
                </div>
              </div>
            </div>
          </div>
          <div class="banner-left-arrow position-home-2 w-slider-arrow-left">
            <div class="left-arrow-slider"></div>
          </div>
          <div class="banner-right-arrow position-home-2 w-slider-arrow-right">
            <div class="right-arrow-slider"></div>
          </div>
          <div class="slider-nav-active-wrapper slider-garden">
            <div class="slider-nav-active-item home-2"></div>
          </div>
          <div class="slide-nav-block-home-2 w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="section none-padding">
    <div class="base-container w-container">
      <div data-w-id="3fcb4efe-5788-f93c-347b-34d11cb4a56c" style="opacity:0" class="heading-block">
        <h2>Our Blog</h2>
      </div>
      <div data-w-id="b1143242-e959-4a41-cd21-73eef2ef25cb" style="opacity:0" class="home-blog-wrapper margin">
        <div class="home-blog-collection-list-wrapper w-dyn-list">
          <div role="list" class="home-blog-collection-list w-dyn-items">
            <div role="listitem" class="home-blog-collection-item w-dyn-item">
              <a href="#" class="home-blog-image-link w-inline-block"><img src="" loading="lazy" alt="" class="home-blog-image"></a>
              <div class="home-blog-content-wrapper">
                <div class="data-categories-blog-post">
                  <div></div>
                  <div class="text-in">in</div>
                  <a href="#" class="categories-link"></a>
                </div>
                <a href="#" class="link-block-heading w-inline-block">
                  <h4 class="blog-post-title"></h4>
                </a>
                <p class="paragraph-large"></p>
              </div>
            </div>
          </div>
          <div class="w-dyn-empty">
            <div>No items found.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="base-container w-container">
      <div data-w-id="c6905527-75f9-02f7-cb66-adea27fd52c1" style="opacity:0" class="section-title-wrapper margin-bottom">
        <h2 class="section-title">Customers <span class="heading-text-span color-green">frequently ask</span></h2>
      </div>
      <div data-w-id="8989ee74-68aa-89b0-f9fb-c214c3221b28" class="accordion-wrapper">
        <div class="accordion-wrap">
          <div data-hover="false" data-delay="0" data-w-id="8989ee74-68aa-89b0-f9fb-c214c3221b2a" class="accordion-item w-dropdown">
            <div class="accordion-toggle w-dropdown-toggle">
              <h6 class="accordion-title">Does trimming hurt trees?</h6>
              <div class="accordion-shevron-icon"></div>
            </div>
            <nav class="accordion-list w-dropdown-list">
              <p class="accordion-list-content">We are properly trained professionals who utilize pruning techniques that will not compromise the health of trees.</p>
            </nav>
          </div>
          <div data-hover="false" data-delay="0" data-w-id="8989ee74-68aa-89b0-f9fb-c214c3221b33" class="accordion-item w-dropdown">
            <div class="accordion-toggle w-dropdown-toggle">
              <h6 class="accordion-title">Can I remove my own trees?</h6>
              <div class="accordion-shevron-icon"></div>
            </div>
            <nav class="accordion-list w-dropdown-list">
              <p class="accordion-list-content">With large trees, there&#x27;s a high risk for the homeowner, or property manager to be injured while trying to remove the tree.</p>
            </nav>
          </div>
          <div data-hover="false" data-delay="0" data-w-id="8989ee74-68aa-89b0-f9fb-c214c3221b3c" class="accordion-item w-dropdown">
            <div class="accordion-toggle w-dropdown-toggle">
              <h6 class="accordion-title">What are some reasons I should prune my tree?</h6>
              <div class="accordion-shevron-icon"></div>
            </div>
            <nav class="accordion-list w-dropdown-list">
              <p class="accordion-list-content">Trees should be pruned for removal of dead, dying, diseased, over crowded or hazardous branches.</p>
            </nav>
          </div>
        </div>
        <div class="accordion-wrap last-child">
          <div data-hover="false" data-delay="0" data-w-id="8989ee74-68aa-89b0-f9fb-c214c3221b4f" class="accordion-item w-dropdown">
            <div class="accordion-toggle w-dropdown-toggle">
              <h6 class="accordion-title">When should I trim my trees?</h6>
              <div class="accordion-shevron-icon"></div>
            </div>
            <nav class="accordion-list w-dropdown-list">
              <p class="accordion-list-content">Hazardous limbs or deadwood may be removed at any time throughout the year. A seasonal approach would be around October or November after the leaves have dropped off the trees.</p>
            </nav>
          </div>
          <div data-hover="false" data-delay="0" data-w-id="8989ee74-68aa-89b0-f9fb-c214c3221b58" class="accordion-item w-dropdown">
            <div class="accordion-toggle w-dropdown-toggle">
              <h6 class="accordion-title">Should I trim my trees before a storm?</h6>
              <div class="accordion-shevron-icon"></div>
            </div>
            <nav class="accordion-list w-dropdown-list">
              <p class="accordion-list-content">Having your trees trimmed before hurricane season will ensure that you are reducing your exposure to liability in the event of a storm.</p>
            </nav>
          </div>
          <div data-hover="false" data-delay="0" data-w-id="8989ee74-68aa-89b0-f9fb-c214c3221b61" class="accordion-item w-dropdown">
            <div class="accordion-toggle w-dropdown-toggle">
              <h6 class="accordion-title">What are the areas in South Florida you service?</h6>
              <div class="accordion-shevron-icon"></div>
            </div>
            <nav class="accordion-list w-dropdown-list">
              <p class="accordion-list-content">We&#x27;re committed to giving you best tree services and care in Hollywood, Davie, Sunrise, Southwest Ranches, and Plantation.</p>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>