<div class='pt-12 pb-16 w-full mx-auto max-w-[{{theme.page_width}}px]'>
  <div class='px-5 mb-10'>
    <div class='flex mb-5 mx-auto justify-center items-center'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='137'
        height='49'
        viewBox='0 0 137 49'
        fill='none'
      >
        <g clip-path='url(#clip0_10_308)'>
          <path
            d='M26.5329 47.4202C29.0541 44.1115 31.5401 40.7769 34.1056 37.5021C36.7153 34.1698 39.4056 30.895 42.0596 27.5954L41.3266 26.3146C38.752 27.2354 35.6816 27.5615 33.6949 29.1876C27.7946 34.0186 21.3611 34.5568 14.6258 32.1453C10.1745 30.5519 5.99666 28.1652 1.80409 25.9331C0.907712 25.4535 -0.0783075 24.0588 -1.59359e-05 23.182C0.0680637 22.4699 1.60553 21.5265 2.61764 21.3335C9.41766 20.0358 16.2256 18.799 23.0642 17.771C27.9126 17.0397 32.0394 18.6196 35.7338 21.9305C37.3405 23.3715 39.7732 23.9076 42.2604 24.2619C35.2788 19.3034 31.5072 12.5688 29.7088 4.65603C29.3786 3.20257 29.9062 1.55728 30.0367 0C31.3484 0.572129 32.896 0.873428 33.932 1.7604C41.1223 7.91728 48.863 13.5833 52.5461 22.8716C52.9841 23.9764 55.3964 24.8837 56.9123 24.9119C81.6921 25.3633 106.475 25.6555 131.256 26.0268C133.168 26.0561 135.076 26.4229 136.985 26.6328C136.99 27.0909 136.995 27.5495 137 28.0084C135.008 28.2002 133.012 28.5828 131.021 28.5557C106.853 28.2284 82.6849 27.9091 58.5246 27.3956C54.9901 27.3212 53.1021 28.0648 51.7643 31.6567C48.5873 40.2082 42.0335 45.5582 33.334 48.2642C31.5401 48.8228 29.5533 48.7709 27.6607 49C27.2825 48.4734 26.9066 47.9468 26.5329 47.4202ZM45.9639 29.8162L44.6852 28.9292L32.1824 44.3191C39.8118 43.0993 44.6534 38.7897 47.3868 32.037L41.9506 37.9648L41.2188 37.2877L45.9639 29.8162ZM31.3552 25.9546H9.62077C16.9666 31.475 26.2889 31.4615 31.3552 25.9546ZM34.4562 5.58588C35.904 14.0177 38.6125 17.5351 43.5063 18.9581L38.7986 12.9773L39.6654 12.2257L46.5074 18.5146L47.464 17.393L34.4562 5.58588ZM13.2574 22.9822H31.5435C25.3801 18.8453 19.3119 20.6677 13.2574 22.9822Z'
            fill='#375560'
          />
        </g>
        <defs>
          <clipPath id='clip0_10_308'>
            <rect width='137' height='49' fill='white' />
          </clipPath>
        </defs>
      </svg>
      <div class='mx-5'>
        <span
          class='block mb-5 text-dark-green text-center font-body md:text-xl text-base font-bold'
        >
          How It Works
        </span>
        <h1
          class='text-dark-green text-center font-body md:text-6xl text-2xl font-bold'
        >
          Our Programs
        </h1>
      </div>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='130'
        height='49'
        viewBox='0 0 130 49'
        fill='none'
      >
        <g clip-path='url(#clip0_10_312)'>
          <path
            d='M104.823 47.4202C102.431 44.1115 100.072 40.7769 97.6372 37.5021C95.1609 34.1698 92.6081 30.895 90.0897 27.5954L90.7852 26.3146C93.2282 27.2354 96.1417 27.5615 98.027 29.1876C103.626 34.0186 109.731 34.5568 116.122 32.1453C120.346 30.5519 124.31 28.1652 128.288 25.9331C129.139 25.4535 130.075 24.0588 130 23.182C129.936 22.4699 128.477 21.5265 127.516 21.3335C121.064 20.0358 114.604 18.799 108.114 17.771C103.514 17.0397 99.5979 18.6196 96.0922 21.9305C94.5676 23.3715 92.2592 23.9076 89.8991 24.2619C96.524 19.3034 100.103 12.5688 101.809 4.65603C102.123 3.20257 101.622 1.55728 101.498 0C100.254 0.572129 98.785 0.873428 97.802 1.7604C90.979 7.91728 83.6339 13.5833 80.139 22.8716C79.7234 23.9764 77.4343 24.8837 75.9959 24.9119C52.4822 25.3633 28.9652 25.6555 5.45042 26.0268C3.63621 26.0561 1.82631 26.4229 0.0142365 26.6328C0.00993347 27.0909 0.00526428 27.5495 0.000244141 28.0084C1.8909 28.2002 3.7848 28.5828 5.6733 28.5557C28.6067 28.2284 51.5401 27.9091 74.4659 27.3956C77.8198 27.3212 79.6114 28.0648 80.8808 31.6567C83.8955 40.2082 90.1145 45.5582 98.3694 48.2642C100.072 48.8228 101.957 48.7709 103.753 49C104.112 48.4734 104.468 47.9468 104.823 47.4202ZM86.3848 29.8162L87.5982 28.9292L99.4622 44.3191C92.2226 43.0993 87.6284 38.7897 85.0347 32.037L90.1931 37.9648L90.8875 37.2877L86.3848 29.8162ZM100.247 25.9546L120.871 25.9546C113.901 31.475 105.055 31.4615 100.247 25.9546ZM97.3046 5.58588C95.9307 14.0177 93.3607 17.5351 88.7169 18.9581L93.1841 12.9773L92.3615 12.2257L85.8691 18.5146L84.9614 17.393L97.3046 5.58588ZM117.42 22.9822L100.068 22.9822C105.917 18.8453 111.675 20.6677 117.42 22.9822Z'
            fill='#375560'
          />
        </g>
        <defs>
          <clipPath id='clip0_10_312'>
            <rect
              width='130'
              height='49'
              fill='white'
              transform='matrix(-1 0 0 1 130 0)'
            />
          </clipPath>
        </defs>
      </svg>
    </div>
    <p
      class='text-center text-dark-green font-body md:text-2xl text-xl font-bold max-w-[1150px] mx-auto'
    >
      Amel offers a variety of treatments that are specific to your needs. We
      value your courage and commitment to your well-being, and we are here to
      guide and support you every step of the way.
    </p>
  </div>

  <div
    class='bg-cover bg-no-repeat bg-center md:py-16 py-10 md:px-16 md:pr-20 px-3 w-full mx-auto'
    style="background-image: url('/images/programs-img-1.jpg')"
  >
    <div
      class='flex md:flex-row flex-col flex-wrap md:justify-between justify-start md:items-start items-center w-full max-w-[{{theme.page_width}}px] mx-auto'
    >
      <div class='max-w-[300px] mb-5'>
        <h3
          class='text-center text-dark-green font-body md:text-3xl text-xl font-bold mb-3'
        >
          Revive
        </h3>
        <div
          class='bg-cover bg-no-repeat bg-center md:w-64 md:h-64 h-48 w-48 rounded-full mb-5 mx-auto'
          style="background-image: url('/images/programs-img-2.jpg')"
        ></div>
        <div
          class='text-center text-dark-green font-body md:text-xl text-lg font-bold bg-cover min-h-[200px] bg-no-repeat bg-center pt-3 px-5 pb-10'
          style="background-image: url('/backgrounds/programs-bg-1.jpg')"
        >
          Addiction can leave you feeling drained and disconnected. Through
          treatment and support, Amel helps individuals revive their sense of
          purpose and reignite their motivation for life.
        </div>
      </div>
      <div class='max-w-[300px] mb-5'>
        <h3
          class='text-center text-dark-green font-body md:text-3xl text-xl font-bold mb-3'
        >
          Rejuvenate
        </h3>
        <div
          class='bg-cover bg-no-repeat bg-center md:w-64 md:h-64 h-48 w-48 rounded-full mb-5 mx-auto'
          style="background-image: url('/images/programs-img-3.jpg')"
        ></div>
        <div
          class='text-center text-dark-green font-body md:text-xl text-lg font-bold bg-cover min-h-[200px] bg-no-repeat bg-center pt-3 px-5 pb-10'
          style="background-image: url('/backgrounds/programs-bg-1.jpg')"
        >
          We offer an appointment with a nutritionist upon arrival to create a
          foundation in healthy lifestyle changes.
        </div>
      </div>
      <div class='max-w-[300px] mb-5'>
        <h3
          class='text-center text-dark-green font-body md:text-3xl text-xl font-bold mb-3'
        >
          Rebalance
        </h3>
        <div
          class='bg-cover bg-no-repeat bg-center md:w-64 md:h-64 h-48 w-48 rounded-full mb-5 mx-auto'
          style="background-image: url('/images/programs-img-4.jpg')"
        ></div>
        <div
          class='text-center text-dark-green font-body md:text-xl text-lg font-bold bg-cover min-h-[200px] bg-no-repeat bg-center pt-3 px-5 pb-10'
          style="background-image: url('/backgrounds/programs-bg-1.jpg')"
        >
          Let us help you regain balance in your life by addressing all areas of
          imbalance. This may involve developing healthy coping mechanisms,
          establishing boundaries, and improving communication skills,.
        </div>
      </div>

      <div class='max-w-[300px] mb-5'>
        <h3
          class='text-center text-dark-green font-body md:text-3xl text-xl font-bold mb-3'
        >
          Restore
        </h3>
        <div
          class='bg-cover bg-no-repeat bg-center md:w-64 md:h-64 h-48 w-48 rounded-full mb-5 mx-auto'
          style="background-image: url('/images/programs-img-5.jpg')"
        ></div>
        <div
          class='text-center text-dark-green font-body md:text-xl text-lg font-bold bg-cover min-h-[200px] bg-no-repeat bg-center pt-3 px-5 pb-10'
          style="background-image: url('/backgrounds/programs-bg-1.jpg')"
        >
          Our goal is to facilitate your journey toward long-lasting recovery,
          well-being, and a fulfilling life of sobriety.
        </div>
      </div>
    </div>
  </div>

  <div
    class='w-full md:pt-32 md:pb-20 py-16 lg:pl-32 lg:pr-14 px-5 flex lg:flex-row flex-col'
  >
    <div class='lg:w-2/5 w-full lg:pr-32 lg:mb-0 mb-10'>
      <h3
        class='w-full max-w-md text-dark-green lg:text-left text-center lg:mx-0 mx-auto font-body md:text-5xl text-3xl font-bold'
      >
        What Your Life Can Look Like, After Treatment With Amel
      </h3>
    </div>

    <div class='lg:w-3/5 w-full flex md:flex-row flex-col'>
      <img
        src='/images/programs-img-6.jpg'
        alt='Woman graduating'
        class='md:w-1/3 w-full h-auto'
        width='auto'
        height='auto'
        loading='eager'
      />
      <img
        src='/images/programs-img-7.jpg'
        alt='Man hiking'
        class='md:w-1/3 w-full h-auto'
        width='auto'
        height='auto'
        loading='eager'
      />
      <img
        src='/images/programs-img-8.jpg'
        alt='Man carrying child'
        class='md:w-1/3 w-full h-auto'
        width='auto'
        height='auto'
        loading='eager'
      />
    </div>
  </div>

  <div class='pt-5 md:px-10 px-5 md:pb-14 pb-10'>
    <h3
      class='text-dark-green font-body md:text-5xl text-3xl font-bold md:mb-10 mb-5 md:text-center text-left'
    >
      Connect & Be Transformed
    </h3>
    <p
      class='text-dark-green font-body md:text-2xl md:text-center text-left text-xl mx-auto font-medium max-w-[1050px]'
    >
      It is our duty as a leading health care institution to enhance your
      experience and view of life so that you can enjoy it to the maximum. We
      count with a team of dedicated experts : Life coaches, Nutritionist, Yoga
      instructor and physical fitness coach. Creating an atmosphere of support,
      affection, joy, and transcendence.
      <br />
      <br />
      Emerge in our self-rejuvenation program and rediscover yourself with
      privacy and calmness needed for clarity. Embark on a journey of personal
      growth and liberation as you break free from the grips of addiction. At
      our therapy center, we are dedicated to supporting individuals like you in
      transforming their lives and embracing a future filled with renewed hope,
      resilience, and fulfillment.
    </p>
  </div>

  <div class='flex justify-center items-center'>
    {{#each svg_count}}
      <img
        src='/backgrounds/diamond-tiles.png'
        alt='Diamond tiles'
        class='w-16 h-auto'
        width='auto'
        height='auto'
        loading='lazy'
      />
    {{/each}}
  </div>
</div>