<div class='mx-auto w-full max-w-[{{theme.page_width}}px] lg:px-16 px-3'>
  <div class='md:pt-12 pt-5 md:px-10 px-2 md:pb-14 pb-10'>
    <h1 class='text-dark-green font-body md:text-5xl text-3xl font-bold md:mb-10 mb-5'>
      Trauma & Addiction
    </h1>
    <p class='md:pl-10 pl-0 text-dark-green font-body md:text-2xl text-xl font-medium max-w-[1050px]'>
      At Amel, we are focused on developing an individualized treatment program that will give our clients a much better
      opportunity to maintain long term sobriety and a balanced mental health.
    </p>
  </div>

  <div class='bg-dark-green relative w-full md:p-5 pt-20 pb-10 md:px-12 px-4'>
    <img
      class='absolute left-2 top-2 w-16 h-auto'
      src='/backgrounds/sun-ray-left.png'
      alt='Sun ray angled from left side'
      width='auto'
      height='auto'
      loading='eager'
    />
    <img
      class='absolute right-2 top-2 w-16 h-auto'
      src='/backgrounds/sun-ray-right.png'
      alt='Sun ray angled from right side'
      width='auto'
      height='auto'
      loading='eager'
    />
    <h2 class='text-light-cream md:text-center text-left font-body text-3xl italic mb-6'>
      How Do We Accomplish This Goal?
    </h2>
    <p class='text-light-cream md:text-center text-left font-body md:text-xl text-lg'>
      Most mental health and substance abuse issues are rooted in unresolved trauma.
      <br />
      Trauma is basically a disconnection from the self even in the absence of abuse or overwhelming threat. These
      traumatic events usually happen during our formative years. (First 10 years of our lives). We go through life
      “ignoring” them or developing defense mechanisms to deflect them or project them with serious consequences that we
      tent to minimize by blaming others or compensating that void with unhealthy behaviors.
    </p>
  </div>

  <div class='md:pt-10 pt-5 md:pb-28 pb-20 md:px-16 px-2'>
    <p class='md:text-center text-left text-dark-green md:text-2xl text-xl font-body md:leading-[50px]'>
      Interrupting addictive disorders takes breaking through the thick shield of denial that protects the addiction’s
      survival. The goal of addiction is self-annihilation, to eliminate one’s emotional experience to numb your
      emotions.
      <br />
      Once an individual seeks recovery and obtains abstinence from major mood- and mind-altering drugs, it is then that
      the real work from within can begin. According to Gabor Maté, the most important question to ask regarding the
      healing process of addictive disorders is “understanding what are the sources of the emotions from which we are
      acting?” We really must take time to understand our emotions and what emotions are underneath the actions that are
      driving behavior. If we do not take time to understand the emotions driving behavior, we will never discover the
      deep pain from which people are trying to escape. Getting to the deep core pain is what will enable long-term
      recovery for the addictive persons. If the interpersonal relationship is not explored, room is left to repeat
      unhealthy behavior and relationship patterns that could potentially lead to more pain, suffering and trauma.​
      <br />
      <br />
      If these issues are not resolved and accepted, a memory, event or person will trigger that emotional state and the
      client will regress to their unhealthy behaviors once again.
      <br />
      In Amel our qualified trauma specialist therapist will do a thorough assessment and determine what the best course
      of treatment can be.
    </p>
  </div>
</div>