{
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "liquidSingleQuote": true,
  "embeddedSingleQuote": true,
  "singleLineLinkTags": false,
  "indentSchema": true,
  "plugins": ["@shopify/prettier-plugin-liquid"]
}